.container{
  max-width: 960px;
  margin: 0 auto;
  background-color: rgba (0, 0, 0, 0.4)
}

img{
  max-width: 100%
}


header{
  background-color: black;
}

p {
  background-color: red;
  font-weight: bold;
}


.btn-signup {
  text-transform: uppercase;
  font-family: arial;
  font-size: 14px;
  color: white;
  background-color: #df5850;
  border-radius: 50px;
  border-style: none;
  padding: 11px;

}
